@charset "ISO-8859-1";
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightyellow;
    background: linear-gradient(to right, #4e4376, #2b5876);
  }
  
  .container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.586);
  }
  
  .forgot-password-form {
    text-align: center;
  }
  
  .forgot-password-form h2 {
    margin-bottom: 20px;
  }
  
  .forgot-password-form p {
    margin-bottom: 20px;
  }
  
  .forgot-password-form input[type="email"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .forgot-password-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .forgot-password-form button:hover {
    background-color: #0056b3;
  }
  